@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main: #FFE14D;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #FCFCF7;
  --bw: #fff;
  --blank: #000;
  --border: #000;
  --text: #000;
  --mtext: #000;
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 0px;
  --box-shadow-x: 5px;
  --box-shadow-y: 5px;
  --reverse-box-shadow-x: -2px;
  --reverse-box-shadow-y: -2px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #374151;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}



@layer base {
  * {
    @apply border-border font-spaceGrotesk;
  }

  body {
    @apply bg-bg text-text;
  }

  .wrapper {
    @apply max-w-7xl mx-auto px-4;
  }
}


@layer components {
  .card-white {
    @apply bg-white border-[3px] border-border shadow-shadow;
  }

  .card-yellow {
    @apply bg-[#FFE14D] border-[3px] border-border shadow-shadow;
  }

  .card-pink {
    @apply bg-[#FF5C92] border-[3px] border-border shadow-shadow;
  }

  .card-green {
    @apply bg-[#00DCA5] border-[3px] border-border shadow-shadow;
  }
}